@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
  color-scheme: dark;
}

html,
body {
  /* background: #c8d1d1; */
  scroll-behavior: smooth;
}
.custom-light {
  background: "#f6fbfb";
}

/* Glowing and pulsing teal text effect */
.text-glow-pulse-teal {
  animation: glowPulseTeal 2s infinite alternate;
  text-shadow: 0 0 5px rgba(0, 204, 204, 0.8), 0 0 10px rgba(0, 204, 204, 0.8),
    0 0 15px rgba(0, 204, 204, 0.8);
}

/* Keyframes for the teal pulse and glow effect */
@keyframes glowPulseTeal {
  0% {
    text-shadow: 0 0 5px rgba(0, 204, 204, 0.8), 0 0 10px rgba(0, 204, 204, 0.8),
      0 0 15px rgba(0, 204, 204, 0.8);
    transform: scale(1);
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 204, 204, 1), 0 0 30px rgba(0, 204, 204, 1),
      0 0 50px rgba(0, 204, 204, 1);
    transform: scale(1.1);
  }
}
